#jumbotron {
  background-color: #F2F7FC;
  margin-top: 54px;
}
button {
  outline: none;
}
#buttons:hover {
  background-color: #F2F7FC;
}
#body {
  max-width: 100%;
}
#footer {
  margin-top: -60px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
#bottomFooter {
  height: 50px;
  background-color: #142A32;
}

#topFooter {
  background-color: #DFECFB;
  height: 10px;
}
