#headline {
  float: right;
}

#body {
  background-color: #F2F7FC;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 54px;
}

#navBottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: -60px;
}
#jumbotron {
  background-color: #F2F7FC;
}

#bottomFooter {
  height: 50px;
  background-color: #142A32;
}

#topFooter {
  background-color: #DFECFB;
  height: 10px;
}
#bodyRow {
  margin-right: 0px;
  margin-left: 0px;
}
